body{
  min-height: 300px;
  background-color: bisque;
  padding: 20px;
  user-select: none;
}
h1{
  text-align: center;
  padding-bottom: 15px;
}
.question-paper {
    margin-top: 20px;
    font-size: 12pt;
}
.final{
  display: flex;
  justify-content: space-between;
}
.interFinal{
  display: flex;
  align-items: baseline;
}
footer{
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: rgba(0,0,0,0.5);
}
button,input{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 17px;
}
.chapterSelectionArea {
  margin-bottom: 20px;
}
#chapterCheckboxes {
  margin-bottom: 10px;
}
#chapterCheckboxes input{
  margin: 5px;
}
#subjectCheckboxes input{
  margin-right: 2px;
}
#totalMarksInput{
  padding: 5px;
}
.chapter-checkbox {
  display: block;
}
.class-dropdown, .subject-dropdown {
  margin-bottom: 20px;
  width: 140px;
  background-color: rgba(218, 255, 53, 0.582);
  padding: 3px;
}
#classSelect option, #subjectSelect option{
  background-color: rgba(255, 99, 99, 0.349);
}
#subjectTitle{
  text-align: center;
}
.timeandmarks{
  display: flex;
  justify-content: space-between;
}
.instruction{
  text-align: center;
}
#questionSection{
  width: 80%;
  margin: auto;
}
.school{
  text-align: center;
}
#editable{
  color: blue;
}

.message{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  color: aliceblue;
  display: none;

  & div{
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: rgba(255,0,0,0.5);
    border: 1px solid white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.question-block{
  padding-bottom: 8px;
}

#answerSheet {
      display: none;
}


.options{
  display: inline-flex;
  flex-direction: row;
  font-size: 14px;
  padding-left: 10px;
  & .child{
      display: inline-flex;
      flex-direction: column;
      padding: 5px;
  }
}




