body{
  min-height: 300px;
  background-color: bisque;
  padding: 20px;
  user-select: none;
}
.question-paper {
    margin-top: 20px;
    font-size: 12pt;
}
.final{
  display: flex;
  justify-content: space-between;
}
footer{
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: rgba(0,0,0,0.5);
}
button,input{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 17px;
}
.chapterSelectionArea {
  margin-bottom: 20px;
}
#chapterCheckboxes {
  margin-bottom: 10px;
}
#chapterCheckboxes input{
  margin: 5px;
}
#subjectCheckboxes input{
  margin-right: 2px;
}
#totalMarksInput{
  padding: 5px;
}
.chapter-checkbox {
  display: block;
}
.class-dropdown, .subject-dropdown {
  margin-bottom: 20px;
}
#subjectTitle{
  text-align: center;
}
.timeandmarks{
  display: flex;
  justify-content: space-between;
}
.instruction{
  text-align: center;
}
#questionSection{
  width: 80%;
  margin: auto;
}
.school{
  text-align: center;
}