body{
  min-height: 100vh;
  background-color: bisque;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  user-select: none;
  padding: 20px;
}
.github{
  position: absolute;
  left: -50px;
  top: -50px;
  background-color: white;
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center ;
  transform: rotate(45deg);
  border-radius: 20px;
  cursor: pointer;
}
.github img{
  width: 30px;
  transform: rotate(-45deg);
  position: absolute;
  right: 5px;
}
h1{
  text-align: center;
  padding-bottom: 15px;
  color: #051937;
}
.question-paper {
    margin-top: 20px;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
}
.question-paper .part1,.part3{
  width: 50%;
  border-right: 1.2px dashed #a8eb12;
  padding: 10px;
}
.question-paper .part2,.part4{
  width: 50%;
  padding: 10px;
}
.question-paper .part12holder, .part34holder{
  display: flex;
  flex-direction: row;
}
.final{
  display: flex;
  justify-content: space-between;
}
.interFinal{
  display: flex;
  align-items: baseline;
}
footer{
    font-size: 12px;
    text-align: center;
    width: 100%;
    color: rgba(0,0,0,0.5);
    padding-bottom: 100px;
}
button,input{
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 17px;
}

input[type="radio"]{
  accent-color: hsl(345deg 100% 47%);
}

input{
  border: 2px solid transparent;
  outline: none;
}

input:focus{
  border: 2px solid hsl(345deg 100% 47%);
}

.chapterSelectionArea {
  margin-bottom: 20px;
  color: azure;
}
#chapterCheckboxes {
  margin-bottom: 10px;
  color: #051937;
}
#chapterCheckboxes input{
  margin: 5px;
}
#subjectCheckboxes input{
  margin-right: 2px;
}
#totalMarksInput{
  padding: 5px;
  width: 100px;
}
.chapter-checkbox {
  display: block;
  accent-color: hsl(345deg 100% 47%);
}
.class-dropdown, .subject-dropdown {
  margin-bottom: 20px;
  width: 140px;
  background-color: rgba(218, 255, 53, 0.582);
  padding: 3px;
}
#classSelect option, #subjectSelect option{
  background-color: rgba(255, 99, 99, 0.349);
}
#subjectTitle{
  text-align: center;
}
.timeandmarks{
  display: flex;
  justify-content: space-between;
}
.instruction{
  text-align: center;
}
#questionSection{
  width: 100%;
  padding: 5% 10%;
  margin: auto;
  background-color: #051937;
  color: #a8eb12;
  border: 1.2px dashed;
  border-radius: 10px;
}
.changeQuesUI{
  color: #000 !important;
  background-color: none !important;
  border: none !important;
}
.school{
  text-align: center;
}
#editable{
  color: blue;
}

.message{
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  color: aliceblue;
  display: none;

  & div{
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: rgba(255,0,0,0.5);
    border: 1px solid white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.question-block{
  padding-bottom: 2px;
}

#answerSheet {
  width: 300px;
  display: none;
  padding: 10px 0;
      & #answers{
        list-style-type: none;
      }
      & button{
        padding: 5px;
        font-size: 13px;
      }
}
.answerList{
  display: inline-block;
  padding-right: 5px;
}


.options{
  display: inline-flex;
  flex-direction: row;
  font-size: 14px;
  padding-left: 10px;
  & .child{
      display: inline-flex;
      flex-direction: column;
      padding: 5px;
  }
}

/*visitor counter*/
footer > a{
  position: absolute;
  right: 0;
  top: 50px;
  opacity: 0;
}

/* loader */
#loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: #fff;
  left: 0;
  top: 0;
}
#loading img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading p {
  position: absolute;
  width: 200px;
  top: calc(50% + 35px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: #484f58;
  text-align: center;
  font-weight: bolder;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 10px;
}

/* button */
/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

